* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url("./overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.change-button {
  width: 36px;
  height: 36px;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: none;
  border-radius: 0;
}

/* .icon-button:hover {
  transform: scale(1.1);
}

.icon-button:active {
  transform: scale(0.95);
} */


/* .change-button:focus,
.author-button:focus {
  outline: none;
} */

/* .change-button use {
  stroke: white;
  stroke-width: 2;
} */

.author-button {
  /* background-color: rgba(215, 210, 210, 0.5); */
  color: white;
  padding: 3px 15px;
  border-radius: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  /* backdrop-filter: blur(5px); */
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 300px;
}

.author-button:hover {
  background-color: rgba(133, 133, 133, 0.7);
}

.author-icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.imageDetails {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-size: 12px;
}

.imageDetails a {
  color: #fff;
  text-decoration: none;
  
}

.time {
  color: #fff;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 128px;
}
